{% extends "base.html" %}

{% block main %}
<div class="main">
        <div class="row pt-5 mx-auto"
             style="border: 5px solid #BDCFFF; background-color: rgba(19, 117, 192, 0.5">
            <div class="col-5 text-center p-2">
                <img src="https://i.pinimg.com/564x/87/f7/2e/87f72ecc093bb1b3801600a8cd1bf4c2.jpg"
                     width="100%">
            </div>
            <div class="col-7 p-5">
                <div class="row">
                    <h1>{{ name }}</h1>
                </div>
                <div class="row"
                     style="padding-top: 5%">
                    <p>Gerät: {{ device_type }}</p>
                </div>
                <div class="row">
                    <p>Beschreibung: {{ description }}</p>
                </div>
                <div class="row">
                    <button>borrow</button>
                    <button>back</button>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}