{% extends "base.html" %}

{% block main %}
    <div class="line-group">
        {% if books.count != 0 %}
            {% for book in books %}
                <div class="card row-md-4 bg-white text-dark border-primary rounded-lg">
                    <div class="card-body">
                        <div class="card-title text-body">
                            <h4>{{ book.name }}</h4>
                            <p>{{ book.loan_object.date_of_issue }}</p>
                            <p>{{ book.expected_return_date }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if materials.count != 0 %}
            {% for material in materials %}
                <div class="card row-md-4 bg-white text-dark border-primary rounded-lg">
                    <div class="card-body">
                        <div class="card-title text-body">
                            <h4>{{ material.name }}</h4>
                            <p>{{ material.loan_object.date_of_issue }}</p>
                            <p>{{ material.expected_return_date }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if devices.count != 0 %}
            {% for device in devices %}
                <div class="card row-md-4 bg-white text-dark border-primary rounded-lg">
                    <div class="card-body">
                        <div class="card-title text-body">
                            <h4>{{ device.name }}</h4>
                            <p>{{ device.loan_object.date_of_issue }}</p>
                            <p>{{ device.expected_return_date }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if containers.count != 0 %}
            {% for container in containers %}
                <div class="card row-md-4 bg-white text-dark border-primary rounded-lg">
                    <div class="card-body">
                        <div class="card-title text-body">
                            <h4>{{ container.name }}</h4>
                            <p>{{ container.loan_object.date_of_issue }}</p>
                            <p>{{ container.expected_return_date }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}