{% extends "base.html" %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h2>Harry Potter und der Stein der Weisen</h2>
                <h5 class="text-muted text-truncate">J.K. Rowling <span class="badge badge-secondary" style="font-size: 0.7em">22. November 2001</span></h5>
                <p class="mt-3">Im Alter von elf Jahren erfährt er, dass er der Sohn eines Zauberers und einer Hexe ist, die der dunkle Magier Lord Voldemort tötete. In der Zauberschule Hogwarts, die Harry Potter nun besucht, findet er heraus, dass Lord Voldemort hinter dem Stein der Weisen her ist, um seine alte Macht wiederzuerlangen.</p>
            </div>
            <div class="col-12 col-lg-auto">
                <div class="card mb-3">
                    <div class="card-body">
                        <img src="https://assets.thalia.media/img/artikel/63be06f8134196a5fca3e5320017be22650d4f64-00-00.jpeg" alt="">
                    </div>
                    <div class="card-footer">
                        <div class="text-muted">ISBN: 9783127357103</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}