{% extends "base.html" %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 mb-3">
                <h2>{{ subject.name }}</h2>
                <h5 class="text-muted text-truncate">
                    {% if subject.book %}
                        {{ subject.book.author }} <span class="badge badge-secondary"
                                                       style="font-size: 0.7em">{{ subject.book.release_date }}</span>
                    {% elif subject.device %}
                        {{ subject.device.device_type }}
                    {% endif %}
                </h5>
                <p class="mt-3">{{ subject.description }}</p>
                <a href="/borrow?id={{ subject.id }}" class="btn btn-primary">Ausleihen</a>
            </div>
            <div class="col-12 col-lg-auto">
                <div class="card mb-3">
                    <div class="card-body">
                        {% if subject.image %}
                            <img src="{{ subject.image.url }}" alt="">
                        {% endif %}
                    </div>
                    {% if subject.book %}
                        <div class="card-footer">
                            <div class="text-muted">ISBN: {{subject.book.isbn}}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}