{% extends "base.html" %}

{% block main %}
    <div class="container">
        <div class="card">
            <div class="card-body p-4">
                <h4>Ansprechpartner</h4>
                <p>
                    Europaschule Schulzentrum Utbremen <br>
                    Meta-Sattler Str. 33 <br>
                    28217 Bremen <br>
                    Telefon (0421) 361-59688 oder -59689 <br>
                    Fax (0421) 361-16019 <br>
                </p>
            </div>
        </div>
    </div>
{% endblock %}