{% extends "base.html" %}
{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 col-md-8 col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4 mt-1">Anmelden</h4>
                        <form action="/login/" method="post">
                            {% csrf_token %}
                            {% if failed %}
                                <p class="text-danger">Nutzername und Passwort stimmen nicht überein</p>
                            {% endif %}
                            <div class="form-group">
                                <label for="username">Nutzername</label>
                                <input id="username" name="username" class="form-control" placeholder="Nutzername" type="username">
                            </div>
                            <div class="form-group">
                                <a class="float-right" href="#">Forgot?</a>
                                <label for="password">Passwort</label>
                                <input id="password" name="password" class="form-control" placeholder="Passwort" type="password">
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label> <input type="checkbox" name="save"> Angemeldet bleiben</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"
                                        style="background-color:#1A4C96;color:white">Anmelden
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
