{% extends "base.html" %}

{% block main %}
    <div class="row">
        {% for item in objects %}
            {% if item.category.lower == "buch" %}
                <div class="card col-md-4">
                <div class="card-header">
                    <b>{{ item.subject }}</b>
                </div>
                <img class="card-img-top" src="#" alt="Bild von {{ item.category }}">
                <div class="card-body">
                    <div class="card-title">
                        <h4>{{ item.name }}</h4>
                    </div>
                    <p class="card-text">Autor: {{ item.author }}</p>
                    <a href="#" class="btn btn-primary">Ausleihen</a>
                    <a href="#" class="btn btn-info">Weitere Infos</a>
                </div>
            </div>
            {% endif %}

            {% if item.category.lower == "container" %}
                <div class="card col-md-4">
                <div class="card-header">
                    <b>{{ item.name }}</b>
                </div>
                <img class="card-img-top" src="#" alt="Bild von {{ item.category }}">
                <div class="card-body">
                    <div class="card-title">
                        <h4>{{ item.device }}</h4>
                    </div>

                    <a href="#" class="btn btn-primary">Ausleihen</a>
                    <a href="#" class="btn btn-info">Weitere Infos</a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}