{% extends "base.html" %}

{% block main %}
    <div class="container">
        <div class="row">
            {% if books.count != 0 %}
                {% for book in books %}
                    <div class="col col-12 col-sm-6 col-md-4 mb-3">
                        <div class="card bg-white text-dark">
                            <div class="card-header">
                                <i class="fas fa-book"></i>
                            </div>
                            <div class="card-body">
                                <div class="card-title text-body">
                                    <h4>{{ book.name }}</h4>
                                </div>
                                <p class="card-text" style="height: 30px">
                                    Autor: {{ book.author.first_name }} {{ book.author.last_name }}</p>
                                <a href="#" class="btn btn-primary">Ausleihen</a>
                                <a href="/detail/{{ book.id }}" class="btn btn-info">Weitere Infos</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% if materials.count != 0 %}
                {% for material in materials %}
                    <div class="col col-12 col-sm-6 col-md-4 mb-3">
                        <div class="card bg-white text-dark">
                            <div class="card-header">
                                <i class="fas fa-pen-alt"></i>
                            </div>
                            <div class="card-body">
                                <div class="card-title text-body">
                                    <h4>{{ material.name }}</h4>
                                </div>
                                <p class="card-text" style="height: 30px"></p>
                                <a href="#" class="btn btn-primary">Ausleihen</a>
                                <a href="/detail/{{ material.id }}" class="btn btn-info">Weitere Infos</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% if devices.count != 0 %}
                {% for device in devices %}
                    <div class="col col-12 col-sm-6 col-md-4 mb-3">
                        <div class="card bg-white text-dark">
                            <div class="card-header">
                                <i class="fas fa-laptop"></i>
                            </div>
                            <div class="card-body">
                                <div class="card-title text-body">
                                    <h4>{{ device.name }}</h4>
                                </div>
                                <p class="card-text" style="height: 30px"></p>
                                <a href="#" class="btn btn-primary">Ausleihen</a>
                                <a href="/detail/{{ device.id }}" class="btn btn-info">Weitere Infos</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% if containers.count != 0 %}
                {% for container in containers %}
                    <div class="col col-12 col-sm-6 col-md-4 mb-3">
                        <div class="card bg-white text-dark">
                            <div class="card-header">
                                <i class="fas fa-box"></i>
                            </div>
                            <div class="card-body">
                                <div class="card-title text-body">
                                    <h4>{{ container.name }}</h4>
                                </div>
                                <p class="card-text" style="height: 30px"></p>
                                <a href="#" class="btn btn-primary">Ausleihen</a>
                                <a href="/detail/{{ container.id }}" class="btn btn-info">Weitere Infos</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        // Recover filters
        window.addEventListener("load", () => {
            const urlParams = new URLSearchParams(window.location.search);
            for (let key of urlParams.keys()) {
                $(`input[name="${key}"]`).val(urlParams.get(key));
            }
        });
    </script>
{% endblock %}