{% extends "base.html" %}

{% block main %}
    <div class="container">
        <div class="card">
            <div class="card-body p-4">
                <h4>Verantwortliche Stelle</h4>
                <p>
                    Europaschule Schulzentrum Utbremen <br>
                    Meta-Sattler Str. 33 <br>
                    28217 Bremen <br>
                    Telefon (0421) 361-59688 oder -59689 <br>
                    Fax (0421) 361-16019 <br>
                </p>
                <h4>Allgemein</h4>
                <p>
                    Wenn Sie auf unsere Webseite zugreifen, werden automatisch Informationen allgemeiner Natur erfasst.
                    Diese Informationen (Server-Logfiles) beinhalten etwa die Art des Webbrowsers, das verwendete
                    Betriebssystem, den Domainnamen Ihres Internet Service Providers und Ähnliches. Hierbei handelt es
                    sich ausschließlich um Informationen, welche keine Rückschlüsse auf Ihre Person zulassen. Diese
                    Informationen sind technisch notwendig, um von Ihnen angeforderte Inhalte von Webseiten korrekt
                    auszuliefern und fallen bei Nutzung des Internets zwingend an. Anonyme Informationen dieser Art
                    werden von uns statistisch ausgewertet, um unseren Internetauftritt und die dahinterstehende Technik
                    zu optimieren.
                </p>
                <h4>Cookies</h4>
                <p>
                    Wie viele andere Webseiten verwenden wir auch so genannte „Cookies“. Cookies sind kleine
                    Textdateien, die von einem Webseitenserver auf Ihre Festplatte übertragen werden. Hierdurch erhalten
                    wir automatisch bestimmte Daten wie z. B. IP-Adresse, verwendeter Browser, Betriebssystem über Ihren
                    Computer und Ihre Verbindung zum Internet.

                    Cookies können nicht verwendet werden, um Programme zu starten oder Viren auf einen Computer zu
                    übertragen. Anhand der in Cookies enthaltenen Informationen können wir Ihnen die Navigation
                    erleichtern und die korrekte Anzeige unserer Webseiten ermöglichen.

                    In keinem Fall werden die von uns erfassten Daten an Dritte weitergegeben oder ohne Ihre
                    Einwilligung eine Verknüpfung mit personenbezogenen Daten hergestellt.

                    Natürlich können Sie unsere Website grundsätzlich auch ohne Cookies betrachten. Internet-Browser
                    sind regelmäßig so eingestellt, dass sie Cookies akzeptieren. Sie können die Verwendung von Cookies
                    jederzeit über die Einstellungen Ihres Browsers deaktivieren. Bitte verwenden Sie die
                    Hilfefunktionen Ihres Internetbrowsers, um zu erfahren, wie Sie diese Einstellungen ändern können.
                    Bitte beachten Sie, dass einzelne Funktionen unserer Website möglicherweise nicht funktionieren,
                    wenn Sie die Verwendung von Cookies deaktiviert haben.
                </p>
            </div>
        </div>
    </div>
{% endblock %}