{% extends "base.html" %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 py-2 mb-md-3">
                <h2>Merlin Fuchs</h2>
                <h5 class="text-muted text-truncate">merlinfuchs2001@gmail.com</h5>
            </div>
            <div class="col-12 col-lg-8 pl-lg-5 py-2">
                <div class="card mb-3">
                    <div class="card-body py-2">
                        <div class="row">
                            <div class="col-5 pt-1">
                                <h5 class="m-0"><i class="fas fa-laptop"></i> Device ABC</h5>
                            </div>
                            <div class="col-5 pt-1">
                                <h5 class="text-muted m-0">12. September 1999</h5>
                            </div>
                            <div class="col-2">
                                <button class="btn-sm btn-primary">
                                    Return
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body py-2">
                        <div class="row">
                            <div class="col-5 pt-1">
                                <h5 class="m-0"><i class="fas fa-book"></i> Book ABC</h5>
                            </div>
                            <div class="col-5 pt-1">
                                <h5 class="text-muted m-0">12. September 1999</h5>
                            </div>
                            <div class="col-2">
                                <button class="btn-sm btn-primary">
                                    Return
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}