{% extends "base.html" %}

{% block main %}
    <div class="main">
    <div class="row pt-5 mx-auto">
        <div class="col-md-2 text-center p-0">
            <button class="btn btn-default">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Back_Arrow.svg/1200px-Back_Arrow.svg.png"
                     class="img-fluid"
                     width="50"/>
            </button>
        </div>
        <div class="col-md-8 p-5" style="border:5px solid #BDCFFF; background-color: rgba(19,117,192,0.5);">
            <div class="row">
                <div class="col-md-4 text-center p-2" style="border:5px solid #BDCFFF; border-radius: 25px 25px 50px 50px; background-color: #1A4C96">
                    <img src="https://i.pinimg.com/originals/37/4f/3d/374f3d2e2156c8c143791e97fa27bf80.jpg"
                         alt="Image" class="img-fluid" style="width: 100%; border-radius: 15px 15px 5px 5px">
                    <p>ONLINE</p>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Auto_Racing_Green.svg/800px-Auto_Racing_Green.svg.png"
                         alt="statusImg" class="rounded-circle" style="height: 50px; width: 50px">
                </div>
                <div class="col-md-3 offset-1">
                    <div class="row">
                        <h2>Robin</h2>
                    </div>
                    <div class="row">
                        <h3>Dabank</h3>
                    </div>
                    <div class="row">
                        <h4>DQI69</h4>
                    </div>
                    <div class="row">
                        <h5>gutes.beispiel@email.com</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-3 offset-1 p-0">
                    <button type="button" class="btn" style=" border:2px solid #BDCFFF; background-color: #1A4C96">
                        Ausgeliehen <span class="badge badge-light">4</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>
{% endblock %}